
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #000; 
    color: #fff;
    font-family: 'Press Start 2P', cursive; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameCanvas {
    display: block;
    margin: 20px auto;
    image-rendering: pixelated;
    border: 6px solid #00ff9f;
    box-shadow: 0 0 20px #00ff9f, 0 0 40px #00ff9f inset;
}


#placar {
    font-family: 'Press Start 2P', cursive;
    color: #ffdd00;
    text-shadow: 0 0 6px #ffdd00;
    letter-spacing: 2px;
    margin-top: 10px;
}


#texto {
    font-family: 'Press Start 2P', cursive;
    color: #ff0048;
    text-shadow: 0 0 6px #ff0048;
    letter-spacing: 2px;
    margin-top: 10px;
}

canvas {
    display: block;
    image-rendering: pixelated;
}
#proximaFaseBtn {
    font-family: 'Press Start 2P', cursive;
    background: #ff0048;
    color: #fff;
    border: 4px solid #00ff9f;
    padding: 15px 30px;
    margin-top: 10px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    box-shadow: 0 0 10px #00ff9f, 0 0 20px #00ff9f inset;
    transition: all 0.2s;
}

#proximaFaseBtn:hover {
    background: #00ff9f;
    color: #000;
    box-shadow: 0 0 15px #00ff9f, 0 0 25px #00ff9f inset;
    transform: scale(1.1);
}